* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(1, 184, 62);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

nav {
    background-color: rgb(177, 177, 177);
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

.top-content {
    background-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
}

.bottom-content {
    background-color: beige;
}

.sign-up {
    align-self: flex-start;
    padding: 2.5px;
}