* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(150, 0, 0);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 10px 10px;
    text-decoration: none;
    color: whitesmoke;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
}

.top-content {
    background-color: #ffffff;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    height: 25%;
    justify-content: space-between;
}

.right-top {
    margin-right: 20%;
}

.bottom-content {
    background-color: beige;
    height: 50vh;
}

.sign-up {
    padding: 2.5px;
}